<%- include('partials/header') %>

     <link rel="stylesheet" href="/style.css" />
<div id="experience-section">
        <h2>Highlights of My Journey</h2>
        <p>Over the past few years, I’ve actively explored opportunities beyond the classroom. From internships to hackathons, each experience has shaped my skills and passion in tech.</p>

       

        <h3>Industrial Experience:</h3>
        <ul>
            <li><strong>Web Developer Intern at StarWire (India) Ltd.</strong>: Developed an IT Ticketing System using the MERN Stack, gaining hands-on experience in full-stack development and understanding real-world applications of technology.</li>
        </ul>
        <h3>Key Roles and Leadership Experience:</h3>
        <ul>
            <li><strong>Web Developer at GDSC (Google Developer Student Club)</strong>: Actively contributed to various projects and initiatives, enhancing my skills in collaborative development.</li>
            <li><strong>Content Team Lead at E-Cell, UIET KUK</strong>: Drove engagement and strategy for entrepreneurial growth, fostering a vibrant community of aspiring entrepreneurs.</li>
        </ul>
        <h3>Hackathons & Competitions:</h3>
        <ul>
            <li><strong>Internal Smart India Hackathon (SIH'23)</strong>: My team was selected at the college level, showcasing our innovative problem-solving skills.</li>
            <li><strong>Kavach'23</strong>: Participated in an intracollege hackathon where our team ranked among the top 10 for innovative solutions.</li>
        </ul>

        <h3>Problem-Solving Skills:</h3>
        <ul>
            <li><strong>Problem-Solving Enthusiast:</strong>:I have solved over 300+ DSA questions on platforms like LeetCode and GeeksforGeeks, honing my algorithmic and coding skills.</li>
       </ul>

        <h3>Additional Involvement:</h3>
        <ul>
            <li><strong>Member of the Alumni Affairs Cell, UIET KUK</strong>: Fostered strong alumni relations and organized events to connect current students with alumni.</li>
            <li><strong>Coordinator for Intra-college Events</strong>: Helped manage and lead college-level initiatives, enhancing the overall student experience.</li>
            <li><strong>Tech Team for Aawahan'23</strong>: Contributed to the technical execution of the event, ensuring smooth operations and successful outcomes.</li>
        </ul>

        <h3>Academic Achievements:</h3>
        <ul>
            <li><strong>School Topper in Xth Standard</strong> and <strong>Class Topper in XIIth Standard</strong>: Demonstrated a strong academic foundation.</li>
            <li><strong>Winner of Several Olympiads</strong> at the school level, showcasing my commitment to academic excellence.</li>
        </ul>

        <p>I am always eager to take on new challenges, collaborate on exciting projects, and expand my knowledge in the tech world.</p>
 </div>

   



<%- include('partials/footer') %>