<%- include('partials/header') %>

<div class="experience-container">
  <h2>Internship at STARWIRE (India) Ltd.</h2>
  <p>
    During my internship, I worked on a project named IT Ticketing System,
    designed to streamline internal complaint management within an organization.
    The system allows employees to register complaints, which are then assigned
    to the appropriate department for resolution. Every detail — from the time
    of issue registration to resolution — is recorded and monitored by the
    admin, with resolution slips generated upon completion. The project was
    built using the MERN Stack, where I handled the entire backend and
    contributed partially to the frontend development. This project was
    developed under the guidance of Mr. Somnath Sir, and it significantly
    enhanced my practical understanding of real-world backend systems.
  </p>

  <div class="buttons">
    <a href="https://drive.google.com/file/d/16Q1g86VYJtjI_8UqBLSUugafmFoMVxj6/view?usp=drive_link" class="btn" download
      >Download Completion Certificate</a
    >
  </div>

  <hr />

  <h2>Experience at GDSC - UIET</h2>
  <p>
    As a core team member of GDSC UIET, I worked as a Web Developer,
    contributing to multiple technical initiatives and collaborative projects.
    My responsibilities included designing and developing responsive web
    interfaces, assisting juniors in resolving development issues, and helping
    manage the club’s tech-related events. Being part of GDSC gave me exposure
    to real-world problem solving, teamwork, and enhanced my proficiency in
    tools like GitHub, Node.js, and JavaScript. It was an enriching experience
    that allowed me to learn from a vibrant developer community and stay updated
    with current industry trends.
  </p>

  <div class="buttons">
    <a href="https://drive.google.com/file/d/1z-n-9PGmeq24tYEemP7RRh9yFnkUlcOo/view?usp=drive_link" class="btn" download
      >Download Completion Certificate</a
    >
  </div>

  <hr />

  <h2>Other Courses & Credentials</h2>
  <p>
    Successfully completed the "Google Cloud Computing Foundations: Cloud
    Computing Fundamentals" course, gaining foundational knowledge about cloud
    services, deployment models, and core concepts. This course helped me
    understand how cloud computing supports scalable and efficient solutions in
    modern applications.
  </p>

  <div class="buttons">
    <a
      href="https://www.cloudskillsboost.google/public_profiles/6ad99dfc-3af9-4b75-abbd-2979058a41ee/badges/5444934?utm_medium=social&utm_source=linkedin&utm_campaign=ql-social-share"
      class="btn"
      download
      >Download Certificate</a
    >
  </div>
</div>
<%- include('partials/footer') %>
